@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps:wght@900&family=Honk&display=swap');

.boxes{
  display: flex;
  height: 100px;
  width: 100px;
  background-color: #1c213a;
  border: 2px solid rgb(149, 146, 146);
  border-radius: 12px;
  cursor: pointer;
  
  
}
.board{
  display: flex;
  justify-content: center;
  padding: 40px;
}

